@font-face { font-family: Outfit-Regular; src: url('./fonts/Outfit/static/Outfit-Regular.ttf'); }
@font-face { font-family: Outfit-Bold; src: url('./fonts/Outfit/static/Outfit-Bold.ttf'); } 

* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
p {
  margin: 0;
}
.main 
{ font-size: 11px; text-align: center; }

.main a { color: hsl(228, 45%, 44%); }

.main {
    width: 20.625rem;
    background-color:hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px #a2a2aa;
}
.qrimg {
    max-height: 18.7rem;
    border-radius: 1rem;
}
h1{
    font-weight: 700;
    font-size: 1.1rem;
    width: 80%;  
    font-family: 'Outfit-Bold', sans-serif;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}
.texte2 {
    color: hsl(220, 15%, 55%);
    width: 82%;
    font-size: 0.9375rem;
    margin: 0.5rem 0.5rem 0.9rem 0.5rem;
    font-family: 'Outfit-Regular', sans-serif;
}
@media screen and (max-width:375px) {
    .main {
        max-width: 23.438rem;
    }
    .qrimg {
        max-width: 100%;
        border-radius: 1rem;
    }
}